.carousel-item img {
    height: 30vh; /* Set height to 50% of the viewport height */
    object-fit: cover;
}
.hero_sgv{
    height: 10vh;
    width: 10vh;
}
#sgv_container{
    width: 20vh;
}

footer .footer-section a:hover {
    color: #4CAF50;
  }