{% extends 'base.html' %}

{% block content %}
<!-- HERO SECTION -->
<div class="container-fluid col-8 py-5 bg-light">
  <!-- Row with reverse alignment -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-light"></div>

  <!-- ABOUT SECTION -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://www.bedfordshirescouts.org.uk/Images/SA_Logos/2018/PaddedLogos/Scouts_Logo_Marque_Purple.png"
        class="d-block mx-lg-auto img-fluid" alt="Scouts Logo" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">About Us</h1>
      <p class="lead">
        We are the <strong>3rd Macclesfield Scouts</strong>, working hard to raise funds for a once-in-a-lifetime trip
        to the <strong>Kandersteg International Scout Centre</strong> in Switzerland! Kandersteg is known for its
        incredible outdoor adventures and opportunities to connect with scouts from around the world.
      </p>
      <p class="lead">
        This experience will help our scouts develop valuable skills, from leadership to outdoor survival, and create
        memories they will treasure forever. With your support, we can make this journey a reality!
      </p>
      <p>
        Find out more about us at: <a href="https://3rdmacclesfield.co.uk/about/" class="text-muted" target="_blank" id="link">the 3rd Macclesfield Scout group website</a>
      </p>
    </div>
  </div>
  <!-- END ABOUT SECTION -->

  <!-- COUNTDOWN SECTION -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
    <div class="px-4 py-5 my-5 text-center justify-content-center">
      <h1 class="display-5 fw-bold">{{until}}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">until our trip to <strong>Kandersteg International Scout Camp</strong>!</p>
        <p class="lead">We are almost there, but we still need your support to reach our goal. Every contribution helps us get one step closer to this amazing experience.</p>
      </div>
    </div>
  </div>
  <!-- END COUNTDOWN SECTION -->


</div>
<!-- END HERO SECTION -->
{% endblock content %}
