{% extends 'base.html' %}

{% block content %}
<!-- HERO SECTION -->
<div class="container-fluid col-8 py-5 bg-light">
  <!-- Empty row for future alignment or layout -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-light"></div>

  <!-- DONATION PROGRESS SECTION -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
    <div class="px-4 py-5 my-5 text-center justify-content-center">
      <div class="gfm-embed" data-url="https://www.gofundme.com/f/3rd-macclesfield-scouts-and-maasai-explorers-to-kandersteg/widget/large?sharesheet=CAMPAIGN_PAGE&attribution_id=undefined"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>

      <!-- Extra information about how the funds will be used -->
      <div class="col-lg-8 mx-auto">
        <p class="lead mb-4">
          Your donation will directly support our trip to the <strong>Kandersteg International Scout Centre</strong> in Switzerland, providing us with an incredible opportunity to develop life skills, explore the outdoors, and engage with scouts from all over the world.
        </p>
      </div>

      <!-- Donation button -->
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary btn-lg px-5" onclick="window.open('/donate/redirect', '_blank')">Donate Now</button>
      </div>
    </div>
  </div>
</div>
<!-- END HERO SECTION -->

{% endblock content %}

