{% extends 'base.html' %}

{% block content %}
<!-- HERO SECTION -->
<div class="container-fluid col-8 py-5 bg-light">
  <!-- Empty row for future alignment or layout -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-light"></div>

  <!-- DONATION PROGRESS SECTION -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
      <div class="gfm-embed px-4 py-5 my-5 text-center justify-content-center" data-url="https://www.gofundme.com/f/3rd-macclesfield-scouts-and-maasai-explorers-to-kandersteg/widget/large?sharesheet=CAMPAIGN_PAGE&attribution_id=undefined"></div><script defer src="https://www.gofundme.com/static/js/embed.js"></script>
  </div>
</div>
<!-- END HERO SECTION -->

{% endblock content %}

