<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>3rd Macc Kanderstag</title>

    <link rel="stylesheet" href="{{css}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  </head>

  <body class="bg-light">

        <!--CAROUSEL-->
        <div class="carousel slide carousel-fade" id="carousel" data-bs-ride="carousel">

          <!--inner (images + captions)-->
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Kandersteg_Church.jpg/1280px-Kandersteg_Church.jpg" alt="" class=" d-block w-100">
              <div class="carousel-caption d-none d-md-block">
                <h1>Help us get to Kanderstag!</h1>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/d5/27/16/winter-wonderland.jpg?w=1200&h=-1&s=1" alt="" class="d-block w-100">
              <div class="carousel-caption d-none d-md-block">
                <h1>Help us get to Kanderstag!</h1>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="https://www.kisc.ch/sites/default/files/files/travelling-to-kisc.jpg" alt="" class="d-block w-100">
              <div class="carousel-caption d-none d-md-block">
                <h1>Help us get to Kanderstag!</h1>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="https://cdn.images.express.co.uk/img/dynamic/1/590x/-499756.jpg?r=1686998680160" alt="" class="d-block w-100">
              <div class="carousel-caption d-none d-md-block">
                <h1>Help us get to Kanderstag!</h1>
              </div>
            </div>
          </div>
          <!--inner (images + captions)-->

          <!--buttons-->
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
          <!--buttons-->
        </div>
        <!--CAROUSEL-->

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <div class="container-fluid">

        <!--logo-->
        <a href="/" class="navbar-brand">
          <h1 class="secondary-text">Fundraising</h1>
        </a>
        <!--logo-->

        <!--toggle button for mobile-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--toggle button for mobile-->

        <!--nav links (collapsable)-->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
            <li class="nav-item"><a href="/donate" class="nav-link">Donate</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          </ul>
        </div>
        <!--nav links (collapsable)-->

      </div>
    </nav>
    <!--NAVBAR-->


        <!--HEROS-->
    <div class="container-fluid col-8 py-5 bg-light">

      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-light"></div>

      <!--paragraph-->
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://www.bedfordshirescouts.org.uk/Images/SA_Logos/2018/PaddedLogos/Scouts_Logo_Marque_Purple.png" class="d-block mx-lg-auto img-fluid" alt="picture of group" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            DONATE</h1>
          <p class="lead"></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          </div>
        </div>
      </div>
      <!--paragraph-->
    </div>
        <!--HEROS-->

  <!--FOOTER-->
    <footer class="bg-dark text-light pt-5 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4 footer-section">
            <h2 class="h4">About Us</h2>
            <p>3rd Macclesfield Scout Group</p>
          </div>
          <div class="col-md-4 mb-4 footer-section">
            <h2 class="h4">Contact Us</h2>
            <p>Email: <a href="https://google.com" class="text-light" target="_blank">email</a></p>
            <p>Phone:</p>
            <p>Address: <a href="https://maps.app.goo.gl/AoJdspYbsUivcsYV7" class="text-light" target="_blank">Phoenix Hall, Whiston St, Macclesfield SK11 6QQ</a></p>
          </div>
          <div class="col-md-4 mb-4 footer-section">
            <h2 class="h4">Follow Us</h2>
            <a href="https://facebook.com" class="text-light me-2" target="_blank">Facebook</a>|
            <a href="https://twitter.com" class="text-light mx-2" target="_blank">(X)Twitter</a>|
            <a href="https://instagram.com" class="text-light ms-2" target="_blank">Instagram</a>
          </div>
        </div>
        <div class="text-center border-top border-secondary pt-3">
          <p class="mb-0">3rd Macc Kanderstag Fundraising</p>
        </div>
      </div>
    </footer>


    <!--FOOTER-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>