{% extends 'base.html' %}

{% block content %}
<!-- HERO SECTION -->
<div class="container py-5 bg-light">
  <!-- EVENTS SECTION -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://www.bedfordshirescouts.org.uk/Images/SA_Logos/2018/PaddedLogos/Scouts_Logo_Marque_Purple.png"
        class="d-block mx-lg-auto img-fluid" alt="Scouts Logo" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Upcoming Events</h1>
      <p class="lead mb-4">
        We have a variety of exciting events lined up to support our fundraising efforts. Each event is a wonderful opportunity to get involved, support our cause, and have some fun! Check out the details below and join us in making a difference.
      </p>
    </div>
  </div>
  <!-- END EVENTS SECTION -->

  <!-- EVENTS DETAILS -->
  <div class="container mt-5">
    <div class="accordion" id="accordion">
      {{ html|safe }}
    </div>
  </div>
  <!-- END EVENTS DETAILS -->
</div>
<!-- END HERO SECTION -->
{% endblock content %}
