{% extends 'base.html' %}

{% block content %}
<!-- HERO SECTION -->
<div class="container-fluid col-8 py-5 bg-light">
  <!-- Hero Image and Text -->
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-white">
    <div class="col-12 col-lg-6">
      <img src="https://www.bedfordshirescouts.org.uk/Images/SA_Logos/2018/PaddedLogos/Scouts_Logo_Marque_Purple.png"
        class="d-block mx-lg-auto img-fluid" alt="picture of group" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Help Us Reach Kandersteg, Switzerland!</h1>
      <p class="lead">
        <strong>Help 32 young people from 3rd Macclesfield Upton Priory Scout Group and Maasai Explorers reach Kandersteg, Switzerland!</strong><br>
        3rd Macclesfield Upton Priory Scouts and Maasai Explorers are embarking on an incredible journey to Kandersteg, Switzerland in August 2025, and we need your support!
        <br>
        This once-in-a-lifetime trip has been specially organised for us, Scouts and Explorer Scouts, regardless of our family income. This trip will provide us with the unique opportunity to explore, challenge ourselves, and create unforgettable memories in the breathtaking Swiss Alps. Nestled 1,200 meters above sea level, Kandersteg offers a stunning backdrop for us to learn, grow, meet scouts from around the world and experience new adventures.
        <br>
        To make this dream a reality, we are organising and participating in various fundraising activities. Every donation, no matter how small, will bring us one step closer to this amazing experience.
        <br>
        Please help support us in achieving our goal and making lifelong memories. Your generosity will ensure that we can participate in this incredible journey and return with stories and experiences we will cherish forever.
        <br>
        Thank you for your support!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="window.location.href='/donate';">Donate</button>
      </div>
    </div>
  </div>
</div>

<!-- WEBSITE PARTS SECTION -->
<div class="container mt-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 bg-light">
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="pb-2 border-bottom">Explore More</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="bg-primary bg-gradient rounded-pill p-3">
            <img src="{{events}}" alt="calendar" class="hero_sgv mx-auto d-block" width="80" height="80">
          </div>
          <h2>Events</h2>
          <p>Upcoming events to help fundraise for our expedition</p>
          <a href="/events" class="btn btn-outline-secondary btn-lg px-4">View Events</a>
        </div>
        <div class="feature col">
          <div class="bg-primary bg-gradient rounded-pill p-3">
            <img src="{{donate}}" alt="donation box" class="hero_sgv mx-auto d-block" width="80" height="80">
          </div>
          <h2>Donate</h2>
          <p>Donate through GoFundMe.</p>
          <a href="/donate" class="btn btn-outline-secondary btn-lg px-4">Donate Now</a>
        </div>
        <div class="feature col">
          <div class="bg-primary bg-gradient rounded-pill p-3">
            <img src="{{about}}" alt="information icon" class="hero_sgv mx-auto d-block" width="80" height="80">
          </div>
          <h2>About</h2>
          <p>Where to find us.</p>
          <a href="/about" class="btn btn-outline-secondary btn-lg px-4">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
