<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{{css_general}}">
    <link rel="stylesheet" href="{{css}}">

    <title>Scout Group Fundraising Campaign</title>
</head>


<body>
    <header>
        <nav>
            <div class="nav-title">Kanderstag Fundraiser</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/donate">Donate</a></li>
                <li><a href="/events">Events</a></li>
            </ul>
        </nav>

    </header>

    <section><h1 id="section-title">Help us reach Kanderstag!</h1></section>

    <article><p>Help the 3rd Macclesfield Scout Group Reach Kandersteg, Switzerland!

    The 3rd Macclesfield Upton Priory Scouts and Maasai Explorers are embarking on an incredible journey to Kandersteg, Switzerland in August 2025, and we need your support!
    This once-in-a-lifetime trip has been specially organised for us, Scouts and Explorer Scouts, regardless of our family income. This trip will provide us with the unique opportunity to explore, challenge ourselves, and create unforgettable memories in the breathtaking Swiss Alps. Nestled 1,200 meters above sea level, Kandersteg offers a stunning backdrop for us to learn, grow, meet scouts from around the world and experience new adventures.
    To make this dream a reality, we are organising and participating in various fundraising activities. Every donation, no matter how small, will bring us one step closer to this amazing experience.
    Please help support us in achieving our goal and making lifelong memories. Your generosity will ensure that we can participate in this incredible journey and return with stories and experiences we will cherish forever.
    Thank you for your support!</p></article>

    <footer>
        <div class="footer-content">
            <div class="footer-section about">
                <h2>About Us</h2>
                <p>3rd Macclesfield Scout Group</p>
            </div>
            <div class="footer-section contact">
                <h2>Contact Us</h2>
                <p>Email: <a href="mailto:support@scoutgroup.com" target="_blank"></a></p>
                <p>Phone:</p>
                <p>Address: <a href="https://maps.app.goo.gl/AoJdspYbsUivcsYV7" target="_blank">Phoenix Hall, Whiston St, Macclesfield SK11 6QQ</a></p>
            </div>
            <div class="footer-section social">
                <h2>Follow Us</h2>
                <a href="https://facebook.com/scoutgroup" target="_blank">Facebook</a> |
                <a href="https://twitter.com/scoutgroup" target="_blank">(X)Twitter</a> |
                <a href="https://instagram.com/scoutgroup" target="_blank">Instagram</a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>3rd Macc Kanderstag Fundraising</p>
        </div>
    </footer>


</body>
</html>
